<div ng-show="isAdmin()">
    <div class="page-header" >
        <h1>{{"accounts" | translate}} <small>{{"accounts.title" | translate}}</small></h1>
    </div>
    <div class="row" >
        <div class="col-xs-12">
            <form class="form-inline pull-right" role="form">
                <button class="btn btn-primary" ng-click="open_create_account_form()">
                    {{"add" | translate}} <i class="glyphicon glyphicon-plus"></i>
                </button>
                <div class="form-group">
                    <label for="sort">{{"sort" | translate}}</label>
                    <div class="input-group">
                        <select ng-model="sort" ng-change="search(query, 1)" class="form-control">
                            <option value="username" selected="selected">{{"name" | translate}}</option>
                            <option value="email">{{"email" | translate}}</option>
                        </select>
                        <div class="input-group-btn">
                            <button class="btn btn-default" ng-click="reverse_order()">
                                <i class="glyphicon" ng-class=" reverse ? 'glyphicon-sort-by-attributes-alt' : 'glyphicon-sort-by-attributes' "></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="query">{{"search" | translate}} <i class="glyphicon glyphicon-search"></i></label>
                    <div class="input-group">
                       <input type="query" class="form-control" id="query" name="query"
                           ng-model="query" ng-change="search(query, 1)"/>
                       <span class="input-group-btn">
                           <button class="btn btn-danger" ng-class="{'disabled': !query}" ng-click="clear_search()">
                               <i class="glyphicon glyphicon-remove"></i>
                           </button>
                       </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr>
    <div class="alert alert-info col-xs-12" role="alert" 
        ng-hide="accounts && accounts.length > 0">
        {{"accounts.none" | translate}}
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12" 
        ng-repeat="an_account in accounts">
            <div class="panel panel-default">
                <table class="table table-condensed">
                    <tr>
                        <th colspan="2" class="active">{{"account" | translate}}</th>
                    </tr>
                    <tr>
                        <th>{{"username" | translate}}</th>
                        <td>{{an_account.username}}</td>
                    </tr>
                    <tr>
                        <th>{{"email" | translate}}</th>
                        <td>{{an_account.email}}</td>
                    </tr>
                    <tr ng-show="isAdmin()">
                        <th>{{"enabled" | translate}}</th>
                        <td>{{an_account.enabled | translate}}</td>
                    </tr>
                    <tr ng-show="isAdmin()">
                        <th>{{"locked" | translate}}</th>
                        <td>{{an_account.locked | translate}}</td>
                    </tr>
                    <tr>
                        <th>{{"role" | translate}}</th>
                        <td>{{an_account.role | translate}}</td>
                    </tr>
                </table>
                <div class="panel-footer clearfix" ng-show="isAdmin()">
                    <button class="btn btn-default pull-right" type="button"
                        ng-click="open_edit_account_form(an_account)">
                        {{"edit" | translate}} <span class="glyphicon glyphicon-edit"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
       <pagination total-items="totalItems" items-per-page="itemsPerPage"
           ng-change="search(query, currentPage)" ng-model="currentPage"
           class="pagination-sm" max-size="maxSize" boundary-links="true"
           rotate="false" previous-text="{{'previous' | translate}}"
           next-text="{{'next' | translate}}" first-text="{{'first' | translate}}"
           last-text="{{'last' | translate}}">
       </pagination>
    </div>
</div>