<div class="modal-header" >
    <h3 class="modal-title" ng-hide="category.id">{{"new.category" | translate}}</h3>
    <h3 class="modal-title" ng-show="category.id">{{"edit.category" | translate}}</h3>
</div>
<div class="modal-body" >
    <div>
        <alert ng-show="alert" type="{{alert.type}}">
            {{alert.msg | translate}}
        </alert>
    </div>
    <form name="category_form" class="form-horizontal" role="form"
        novalidate ng-submit="action_category()">
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">{{"name" | translate}}</label>
            <div class="col-sm-10">
                <input type="text" id="name" name="name" class="form-control"
                    ng-model="category.name" autocomplete="off" autofocus />
                <alert type="danger" ng-repeat="error in errors | filter:{field: 'name'}:true">
                    {{error.code | translate}}
                </alert>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer" >
    <button class="btn btn-success" ng-click="action_category()">
       <span ng-hide="category.id">{{"create" | translate}} </span>
       <span ng-show="category.id">{{"save.changes" | translate}} </span>
       <i class="glyphicon glyphicon-ok"></i>
    </button>
    <button class="btn btn-default" ng-click="exit()">{{"exit" | translate}} <i class="glyphicon glyphicon-remove"></i></button>
</div>